@use '../../../../styles/globals.scss' as *;
@use '../../../templates/CharacterSectionTemplate.scss' as *;

.Ciri-Character-Section {
  @include character-section-template;
}

.Ciri-Character-Section--Background {
  @include character-section-background;
}

.Ciri-Character-Section--Name {
  @include character-section-name;

  text-wrap: wrap;

  @include screen(lg) {
    text-align: end;
  }

  @include screen(xxl) {
    font-size: clamp($font-xl, 10vw, $font-xxl);
  }
}

.Ciri-Character-Section--Image {
  @include character-section-image;

  right: -10rem;
  height: 100vh;
  width: auto;

  @include screen(lg) {
    inset: unset;
    left: -10vw;
  }
}

.Ciri-Character-Section--Description-Wrapper {
  @include character-section-description-wrapper;

  @include screen(md) {
    justify-content: flex-end;
    margin-top: -20%;
  }

  @include screen(md) {
   
  }

  @include screen(lg) {
    flex-direction: column-reverse;
    width: auto;
    margin: 0 10%;
    padding: 0 5vw;
     justify-content: center;
    margin-top: 0 3vw;
  }
}

.Ciri-Character-Section--Inner-Wrapper {
  @include character-section-inner-wrapper;

  .Ciri-Character-Section--Quote {
    opacity: 0;
  }
}

.Ciri-Character-Section--Outer-Wrapper {
  @include character-section-outer-wrapper;

  .Ciri-Character-Section--Name {
    @include character-name-outline;
  }
}

.Ciri-Character-Section--Quote--Wrapper {
  @include character-section-quote-wrapper;

  @include screen(lg) {
    display: flex;
    justify-content: end;
    align-items: end;
  }
}

.Ciri-Character-Section--Quote {
  @include character-section-quote;

  @include screen(lg) {
    text-align: end;
    width: 75%;
    margin-left: auto;
    margin-right: 0;
  }

  @include screen(xxl) {
    font-size: clamp($font-normal, 10vw, $font-big);
  }
}

// .Ciri-Character-Section {
//   @include character-section;

//   position: relative;

//   &::before {
//     content: '';
//     background: url(../../../../../public/images/ciri-background.jpg) no-repeat
//       center center;
//     background-size: cover;
//     opacity: 1;
//     z-index: -1;
//     position: absolute;
//     top: 10%;
//     left: 10%;
//     width: 80%;
//     height: 80%;
//     filter: contrast(120%) brightness(40%);
//     border: 0.5px solid $color-border;
//   }
// }

// .Ciri-Character-Section--Name {
//   font-size: $font-xl;
//   text-transform: uppercase;
//   text-align: center;
//   color: $color-primary;
//   margin: 0;
// }

// .Ciri-Character-Section--Image {
//   filter: drop-shadow(rgb(0, 0, 0) 5px 15px 19px) contrast(120%) brightness(75%);
//   position: absolute;

//   right: -5rem;
//   bottom: 10%;

//   width: 50rem;
//   height: 60rem;
// }

// .Ciri-Character-Section--Description-Wrapper {
//   @include flex-col-container;
//   width: 60%;
//   height: 100%;
//   justify-self: flex-start;
//   justify-content: center;
//   align-self: flex-start;
//   align-items: center;
//   margin: 0 10%;
// }

// .Ciri-Character-Section--Inner-Wrapper {
//   width: 100vw;
//   height: 100%;
// }

// .Ciri-Character-Section--Quote {
//   font-size: $font-normal;
//   font-style: italic;
//   color: var(--foreground);
//   text-align: center;
//   width: 30rem;
//   justify-self: center;
// }
