@use '../../../../styles/globals.scss' as *;
@use '../CharactersSection.scss' as *;

.Geralt-Character-Section {
  @include character-section;
  position: relative;
}

.Geralt-Character-Section--Background {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
  background: url(../../../../../public/images/geralt-background.jpg) no-repeat
    center center;
  border: 0.5px solid $color-border;
  filter: contrast(120%) brightness(40%);

  @include screen(lg) {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
}

.Geralt-Character-Section--Name {
  font-size: $font-big;
  text-transform: uppercase;
  text-align: center;
  color: $color-primary;
  margin: 0;
  text-wrap: wrap;

  @include screen(sm) {
    text-wrap: nowrap;
    font-size: clamp($font-big, 12vw, $font-large);
  }

  @include screen(lg) {
    font-size: clamp($font-large, 10vw, $font-xl);
  }

  @include screen(xxl) {
    font-size: $font-xxl;
  }
}

.Geralt-Character-Section--Image {
  filter: drop-shadow(rgb(0, 0, 0) 5px 15px 19px) contrast(120%) brightness(75%);
  position: absolute;

  bottom: 0;

  width: 35rem;
  height: 95vh;
  
  margin: 0 auto;
  
  @include screen(lg) {
    object-fit: contain;
    width: fit-content;
    inset: 0;
    height: 100%;
    margin: auto;
    left: auto;
  }

  @include screen(xl) {
  }
}

.Geralt-Character-Section--Description-Wrapper {
  @include flex-col-container;
  height: 100%;
  justify-self: flex-end;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin: 0 3vw;
  
  @include screen(lg) {
    width: 80%;
    margin: 10vh 10%;
  }
}

.Geralt-Character-Section--Inner-Wrapper {
  width: 100vw;
  height: 100%;
}

.Geralt-Character-Section--Outer-Wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;

  .Geralt-Character-Section--Name {
    color: transparent;
    -webkit-text-stroke: 0.05px #fde68a;
  }
}

.Geralt-Character-Section--Quote--Wrapper {
  width: 100%;
  display: flex;
}

.Geralt-Character-Section--Quote {
  font-size: clamp($font-normal, 3vw, $font-big);
  font-style: italic;
  color: var(--foreground);
  text-align: center;
  justify-self: center;
  margin-right: auto;
  white-space: pre-line;
  width: 100%;

  @include screen(lg) {
    text-align: start;
    margin-left: 5rem;
    width: 50%;
  }

  @include screen(xxl) {
    font-size: $font-big;
    margin-left: 5rem;
    width: 100%;
  }
}
