@use '../../../../styles/globals.scss' as *;
@use '../../../templates/CharacterSectionTemplate.scss' as *;

.Triss-Character-Section {
  @include character-section-template;
}

.Triss-Character-Section--Background {
  @include character-section-background;
}

.Triss-Character-Section--Name {
  @include character-section-name;

  text-wrap: wrap;
  width: 100%;

  @include screen(lg) {
    text-align: start;
  }

  @include screen(xxl) {
    font-size: clamp($font-xl, 10vw, $font-xxl);
  }
}

.Triss-Character-Section--Image {
  @include character-section-image;

  right: 0rem;

  @include screen(lg) {
    inset: 0;
    left: -10vw;
  }
}

.Triss-Character-Section--Description-Wrapper {
  @include character-section-description-wrapper;

  justify-content: flex-end;
  margin-top: -20%;

  @include screen(md) {
    justify-content: center;
    margin-top: 0;
  }

  @include screen(lg) {
    width: auto;
    margin: 0 10%;
    padding: 0 5vw;
    justify-content: center;
    margin-top: 0 3vw;
  }
}

.Triss-Character-Section--Inner-Wrapper {
  @include character-section-inner-wrapper;
}

.Triss-Character-Section--Outer-Wrapper {
  @include character-section-outer-wrapper;

  .Triss-Character-Section--Name {
    @include character-name-outline;
  }
}

.Triss-Character-Section--Quote--Wrapper {
  @include character-section-quote-wrapper;
}

.Triss-Character-Section--Quote {
  @include character-section-quote;

  @include screen(lg) {
    margin: 0;
    width: 70%;
  }
}
