@use '../../../../styles/globals.scss' as *;
@use '../CharactersSection.scss' as *;

.Yennefer-Character-Section {
  @include character-section;
  position: relative;

  &::before {
    content: '';
    background: url(../../../../../public/images/yennefer-background.png)
      no-repeat center center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    filter: contrast(120%) brightness(40%);
    border: 0.5px solid $color-border;
  }
}

.Yennefer-Character-Section--Name {
  font-size: $font-xl;
  text-transform: uppercase;
  text-align: center;
  color: $color-primary;
  margin: 0;
}

.Yennefer-Character-Section--Image {
  filter: drop-shadow(rgb(0, 0, 0) 5px 15px 19px) contrast(120%) brightness(75%);
  position: absolute;

  left: 3.5rem;
  bottom: 10%;

  width: 28rem;
  height: 55rem;
}

.Yennefer-Character-Section--Description-Wrapper {
  @include flex-col-container;
  width: 60%;
  height: 100%;
  justify-self: flex-end;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin: 0 10%;
}

.Yennefer-Character-Section--Inner-Wrapper {
  width: 100vw;
  height: 100%;
}

.Yennefer-Character-Section--Quote {
  font-size: $font-large;
  font-style: italic;
  color: var(--foreground);
  text-align: center;
  width: 30rem;
  justify-self: center;
}
