:root {
  --background: #040304;
  --foreground: #ffffff;
  --primary: #ffdc8f;
  --border: #949473;

  --font-small: 18px;
  --font-normal: 28px;
  --font-big: 55px;
  --font-large: 110px;
  --font-xl: 140px;
  --font-xxl: 180px;
  --font-title: 120px;
}

$color-foreground: var(--foreground);
$color-primary: var(--primary);
$color-background: var(--background);
$color-border: var(--border);

$breakpoint-sm: 450px;
$breakpoint-md: 600px;
$breakpoint-lg: 970px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1600px;
$breakpoint-3xl: 2000px;

$font-small: var(--font-small);
$font-normal: var(--font-normal);
$font-big: var(--font-big);
$font-large: var(--font-large);
$font-xl: var(--font-xl);
$font-xxl: var(--font-xxl);
$font-title: var(--font-title);

$font-beaufort: beaufort-pro, 'Noto Serif';
$font-gil-sans: var(--font-gill-sans-nova);

@mixin screen($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: $breakpoint-xxl) {
      @content;
    }
  } @else if $breakpoint == 3xl {
    @media (min-width: $breakpoint-3xl) {
      @content;
    }
  }
}

@mixin flex-row-container {
  display: flex;
  flex-direction: row;
}

@mixin flex-col-container {
  display: flex;
  flex-direction: column;
}

@mixin full-width {
  width: 100%;
}

@mixin full-height {
  height: 100%;
}

@mixin min-height-viewport {
  @include screen(md) {
    min-height: 100vh;
  }
  min-height: 100dvh;
}

@mixin apply-max-width {
  max-width: 1440px;
}

@mixin items-center {
  align-items: center;
  justify-content: center;
  justify-items: center;
}

@mixin side-padding {
  padding-left: 1rem;
  padding-right: 1rem;

  @include screen(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include screen(lg) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@mixin header-top-padding {
  padding-top: 5rem;
}

html,
body {
  max-width: 100vw;
  min-height: 95vh;
  overflow-x: hidden;
}

// TODO: Add correct fonts here
body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: $font-gil-sans;
  font-weight: 600;
  letter-spacing: 1.2px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Vignette {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.Vignette::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-shadow: inset 0 0 150px 50px #000c;

  @include screen(lg) {
    box-shadow: inset 0 0 100px 200px #000c;
  }

  @include screen(sm) {
    box-shadow: inset 0 0 150px 100px #000c;
  }

  pointer-events: none; /* Allows you to still click the image underneath */
}
