@use '../../styles/globals.scss' as *;
@use '../sections/home/CharactersSection.scss' as *;

@mixin character-section-template {
  @include character-section;
  position: relative;
}

@mixin character-section-background {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
  //   background: url(../../../../../public/images/geralt-background.jpg) no-repeat
  //     center center;
  border: 0.5px solid $color-border;
  filter: contrast(120%) brightness(40%);

  @include screen(lg) {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
}

@mixin character-section-name {
  font-size: $font-big;
  text-transform: uppercase;
  text-align: start;
  color: $color-primary;
  margin: 0;
  text-wrap: wrap;

  @include screen(md) {
    text-wrap: nowrap;
    font-size: clamp($font-big, 12vw, $font-large);
    text-align: center;
  }

  @include screen(lg) {
    font-size: clamp($font-large, 10vw, $font-xl);
  }

  @include screen(xxl) {
    font-size: $font-xxl;
  }
}

@mixin character-section-image {
  filter: drop-shadow(rgb(0, 0, 0) 5px 15px 19px) contrast(120%) brightness(75%);
  position: absolute;

  bottom: 0;

  object-fit: contain;
  object-position: bottom;
  width: 37rem;
  height: 95vh;

  margin: 0 auto;

  @include screen(sm) {
    width: auto;
  }

  @include screen(lg) {
    width: fit-content;
    inset: 0;
    height: 100%;
    margin: auto;
    left: auto;
  }
}

@mixin character-section-description-wrapper {
  @include flex-col-container;
  height: 100%;
  justify-content: flex-end;
  justify-self: center;
  align-self: flex-end;
  align-items: center;
  margin-top: -20%;
  padding: 0 1rem;

  @include screen(md) {
    justify-self: flex-end;
    margin: 0 3vw;
    justify-content: center;
    padding-top: 10%;
    margin-top: 0;
  }

  @include screen(lg) {
    padding: 0;
    width: 80%;
    margin: 10vh 10%;
  }
}

@mixin character-section-inner-wrapper {
  width: 100vw;
  height: 100%;
}

@mixin character-section-outer-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

@mixin character-section-quote-wrapper {
  width: 100%;
  display: flex;
}

@mixin character-section-quote {
  font-size: clamp($font-normal, 3vw, $font-big);
  font-style: italic;
  color: var(--foreground);
  text-align: start;
  justify-self: center;
  margin-right: auto;
  white-space: pre-line;
  width: 100%;

  @include screen(md) {
    text-align: center;
  }

  @include screen(lg) {
    text-align: start;
    margin-left: 5rem;
    width: 50%;
  }

  @include screen(xxl) {
    font-size: $font-big;
    margin-left: 5rem;
    width: 100%;
  }
}

@mixin character-name-outline {
  color: transparent;
  -webkit-text-stroke: 0.05px #fde68a;
}

.Geralt-Character-Section-Template {
  @include character-section-template;
}

.Geralt-Character-Section--Background {
  @include character-section-background;
}

.Geralt-Character-Section--Name {
  @include character-section-name;
}

.Geralt-Character-Section--Image {
  @include character-section-image;
}

.Geralt-Character-Section--Description-Wrapper {
  @include character-section-description-wrapper;
}

.Geralt-Character-Section--Inner-Wrapper {
  @include character-section-inner-wrapper;

  //   .Geralt-Character-Section--Quote {
  //     opacity: 0;
  //   }
}

.Geralt-Character-Section--Outer-Wrapper {
  @include character-section-outer-wrapper;

  //   .Geralt-Character-Section--Name {
  //     @include character-name-outline;
  //   }
}

.Geralt-Character-Section--Quote--Wrapper {
  @include character-section-quote-wrapper;
}

.Geralt-Character-Section--Quote {
  @include character-section-quote;
}
