@use '../../../styles/globals.scss' as *;

$vertical-padding: 0.5rem;
$header-height: 5rem;

@mixin nav-button {
  background-color: transparent;
  border-radius: 30%;
  border-color: $color-primary;
}

.Header {
  @include full-width;
  @include flex-row-container;

  z-index: 100;
  position: fixed;
  height: $header-height;
  justify-content: center;

  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  font-size: $font-large;

  .Header--Inner {
    @include flex-row-container;
    @include apply-max-width;
    @include full-width;
    @include side-padding;

    justify-content: space-between;
    gap: 1rem;
  }

  .Header--Left-Content {
    @include flex-row-container;
    flex: none;
    text-transform: uppercase;
    align-items: center;
    gap: 0.5rem;

    h1 {
      font-size: $font-big;
    }
  }

  .Header--Right-Content {
    @include flex-row-container;

    flex: 1;

    .Header--Right-Content--List {
      @include flex-row-container;
      @include full-width;

      align-items: center;
      justify-items: center;
      justify-content: flex-end;

      gap: 2.5rem;

      li {
        list-style: none;
      }

      button {
        @include nav-button;
      }
    }
  }

  a {
    text-transform: uppercase;
    font-size: $font-normal;
    text-decoration: none;
    color: $color-foreground;

    &:hover {
      color: $color-primary;
    }
  }

  .Header--Menu-Button {
    svg {
      color: $color-primary;
      fill: $color-primary;
    }
  }

  .Header--Menu {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 200%;
    background-color: $color-background;

    @include screen(sm) {
      left: 110%;
    }

    .Header--Menu--Inner {
      @include flex-col-container;
      @include full-width;
    }

    .Header--Menu--Head {
      @include side-padding;
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: end;

      button {
        @include nav-button;
        color: $color-primary;
        width: 3em;
        height: 3em;
      }
    }

    .Header--Menu--Body {
      @include flex-col-container;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      color: $color-primary;
      text-align: center;
    }

    .Header--Menu--List {
      @include flex-col-container;
      gap: 2.5rem;
      align-items: center;
      justify-content: center;
      padding: 0;

      li {
        list-style: none;
      }
    }
  }
}
