@use '../../../styles/globals.scss' as *;

@mixin character-section {
  @include flex-col-container;
  @include min-height-viewport;

  width: 100vw;
  height: 110vh;

  flex-shrink: 0;
}

.Characters-Section {
  @include flex-col-container;
  @include full-width;
  @include min-height-viewport;

  position: relative;
  z-index: 2;

  // background-color: black;
  background: #000000;
  // border-top: 0.5px solid #949473;
  overflow-x: hidden;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -50;
    opacity: 0.7;
  }
}

.Character-Section--Container {
  @include flex-col-container;
  @include full-height;
  overflow: hidden;
  flex-wrap: nowrap;
  
  width: fit-content;
  height: fit-content;
  
  @include screen(lg) {
    height: 100vh;
    @include flex-row-container;
  }
}

.Characters-Section--Header-Wrapper {
  border-top: 0.5px solid $color-border;
  // border-bottom: 0.5px solid $color-border;
  overflow: hidden;
}

.Characters-Section--Header {
  font-size: $font-xxl;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  margin: 0;
  padding: 1rem 0;
  background-color: transparent;
}