@use '../../../styles/globals.scss' as *;

.Soundtrack-Section {
  @include flex-col-container;
  @include min-height-viewport;

  position: relative;

  z-index: 2;
}

.Soundtrack-Section--Video-Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  z-index: -1;

  @include screen(md) {
    height: 100dvh;
  }
}

.Soundtrack-Section--Video-Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  object-fit: cover;
  z-index: 1;
}

.Soundtrack-Section--Container {
  @include flex-col-container;

  padding: 5rem 1rem;

  @include screen(sm) {
    height: 100dvh;
  }

  @include screen(md) {
    margin: auto 0;
    width: 50%;
  }

  @include screen(lg) {
    height: 100vh;
    margin-left: 0;
    width: 50%;
  }

  @include screen(xl) {
    padding: 5rem 2rem;
    margin-left: 3rem;
    border-radius: 2%;
    width: 45%;
    height: 100%;
  }

  align-items: center;
  justify-content: flex-start;
  background-color: #00000080;
}

.Soundtrack-Section--Container--Inner {
  @include flex-col-container;

  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;

  @include screen(sm) {
    max-width: 25rem;
  }

  @include screen(lg) {
    max-width: 35rem;
  }

  @include screen(xl) {
    max-width: 40rem;
  }
}

.Soundtrack-Section--Container--Title {
  width: 100%;
  text-align: center;
  font-size: $font-xl;
  margin: 0;
  text-transform: uppercase;
}

.Soundtrack-Section--Container--Description {
  font-size: $font-large;
  margin: 0;
  text-align: center;

  @include screen(sm) {
    font-size: $font-normal;
  }

  @include screen(lg) {
    font-size: $font-big;
  }
}
